<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
</head>

<body>
    <div class="document-content-plain">
        <h1>{{ document.title }}</h1>
        
        {% if document.image %}
            <div class="document-image">
                <img src="{{ document.image.url }}" alt="{{ document.image_description }}" />
                <p>{{ document.image_description }}</p>
            </div>
        {% endif %}
        
        <div id="document-body">
            {% if document.syntax %}
                {{ document.markuped_body|safe }}
            {% else %}
                {{ document.body|linebreaks }}
            {% endif %}
        </div>
    </div>
</body>

</html>
