{% extends base_template|default:"base.html" %}
{% load thumbnail %}
{% load textja %}

{% block title %}{{ title }} - {{ current_site.name }}{% endblock %}

{% block content %}
    <div class="div_alpha14">
    <h2 class="h2_alpha02">{{ title }}</h2>

    <div class="div_alpha14">
    <h3>お題の検索結果</h3>
    <div class="div_alpha14_inner">
    
    <p class="p02">{{ contests.hits }} 件 中 {{ contests.object_list|length }} 件 <a href="{% url recipes-contests-search query=query %}">全て見る</a></p>

    <dl class="dl03">
    {% for contest in contests.object_list %}
        <dt><a href="{% url recipes-contests-show contest_id=contest.id %}">{{ contest.name }}</a></dt>
        <dd>
        {% if contest.is_finished %}
            終了しています。
        {% else %}
            {% if contest.is_closed %}
                レシピの募集は終了しています。
            {% else %}
                レシピを募集しています。
            {% endif %}
        {% endif %}
        募集期間 {{ contest.published_at|date:"n月j日 G:i" }} から{{ contest.closed_at|date:"n月j日 G:i" }} まで<br />
        {{ contest.description }}</dd>
    {% endfor %}
    <!-- /dl03 --></dl>

    <!-- /div_alpha14_inner --></div>
    <!-- /div_alpha14 --></div>
    </div>
    
    <div class="div_alpha14">
    <h3>レシピの検索結果</h3>
    <div class="div_alpha14_inner">
    
    <p class="p02">{{ recipes.hits }} 件 中 {{ recipes.object_list|length }} 件 <a href="{% url recipes-search query=query %}">全て見る</a></p>
    
    <ul class="ul03">
    
    {% for recipe in recipes.object_list %}
        <li>
        <strong><a href="{% url recipes-show recipe_id=recipe.id %}">{{ recipe.name }}</a></strong>
        <p class="p05">{% if recipe.photo %}<img width=98" src="{{ recipe.photo|thumbnail:"104x104" }}" alt="{{ recipe.name }}" /></a>{% endif %}</p>
        <p class="p05">by <a href="/">{{ recipe.user.first_name }}</a> さん<br />
        <span style="font-weight:bold">コメント</span>:{{ recipe.num_moderated_comments }}<br />
        <span style="font-weight:bold">投票</span>:{{ recipe.score }}</p>
        <p class="p05">
        {% if recipe.is_awarded and recipe.contest.is_really_finished %}
            <img src="/site_media/images/common/icon_awardedstatus.jpg" />
        {% endif %}
        {{ recipe.introduction|abbr:25 }}</p>
        <p class="p05"><span style="font-weight:bold">材料</span>: {{ recipe.ingredient_names_str }}</p>
        </li>
    {% endfor %}
    </ul>
    
    </div>
    </div>
{% endblock %}
